#clockcontainer{
    margin:auto;
   
    height:43vw;
    width:40vw;
    background:url(clock.png) no-repeat;
    background-size:100%;
}
#hour,#minute,#second{
    position:relative;
    background-color:black;
    border-radius:10px;
    transform-origin: bottom;
}


#hour{
    height: 28%;
    width: 1.7%;
    top: 23%;
    left: 50%;
    opacity: 0.8;
   
    
    
}
#minute{
    height: 31%;
    width: 1.5%;
    top: -8%;
    left: 50.3%;
    opacity: 0.8;
    
}
#second{
    height: 36%;
    width: 1.0%;
    top: -44.5%;
    left: 50.5%;
    opacity: 0.8;
    
    
}